<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 (c) committers of YAKINDU
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Solidity -->
      <package
            uri="http://www.yakindu.com/solidity/Solidity"
            class="com.yakindu.solidity.solidity.SolidityPackage"
            genModel="model/Solidity.genmodel"/>
   </extension>

</plugin>
