<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.generator.core.generator">
      <SCTGenerator 
			executor="org.yakindu.sct.generator.core.execution.SExecGeneratorEntryExecutor"
            bindings="com.yakindu.sct.generator.solidity.SolidityGeneratorModule"
            description=""
            id="yakindu::solidity"
            name="YAKINDU SCT Solidity Code Generator"
            contentType="statechart"
            elementRefType="org.yakindu.sct.model.sgraph.Statechart">
            <FeatureLibrary
            	library_id="com.yakindu.sct.generator.solidity.FeatureTypeLibrary">
            </FeatureLibrary>
            <FeatureLibrary
            	library_id="org.yakindu.generator.core.features">
            </FeatureLibrary>
      </SCTGenerator>
   </extension>
<extension
      point="org.yakindu.sct.generator.core.featuretypes">
   <FeatureLibrary
   	library_id="com.yakindu.sct.generator.solidity.FeatureTypeLibrary"
   	defaultProvider="com.yakindu.sct.generator.solidity.SolidityGeneratorDefaultValueProvider"
   	uri="platform:/plugin/com.yakindu.sct.generator.solidity/library/FeatureTypeLibrary.xmi">
   </FeatureLibrary>
</extension>
 <extension point="org.yakindu.sct.generator.core.extensions">
	 	<ExtensionGeneratorMapping fileExtension="sct" generatorId="yakindu::solidity">
	 	</ExtensionGeneratorMapping>
 	</extension>
</plugin>
