<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_4BZZ4LUDEee44Jzh7ZNNMg" specification="namespace solidity&#xA;interface ABC:&#xA;&#xA;var x: uint&#xA;// Define events and&#xA;// and variables here. &#xA;//Use CTRL + Space for content assist." namespace="solidity" name="Token" domainID="com.yakindu.domain.solidity">
    <regions xmi:id="_4BaoALUDEee44Jzh7ZNNMg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_4Bb2JrUDEee44Jzh7ZNNMg">
        <outgoingTransitions xmi:id="_4BguobUDEee44Jzh7ZNNMg" target="_4BdERLUDEee44Jzh7ZNNMg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_4BdERLUDEee44Jzh7ZNNMg" name="StateA" incomingTransitions="_4BguobUDEee44Jzh7ZNNMg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_4BaA8rUDEee44Jzh7ZNNMg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_4BZZ4LUDEee44Jzh7ZNNMg" measurementUnit="Pixel">
    <children xmi:id="_4BaoAbUDEee44Jzh7ZNNMg" type="Region" element="_4BaoALUDEee44Jzh7ZNNMg">
      <children xsi:type="notation:DecorationNode" xmi:id="_4Bb2ILUDEee44Jzh7ZNNMg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4Bb2IbUDEee44Jzh7ZNNMg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4Bb2IrUDEee44Jzh7ZNNMg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_4Bb2I7UDEee44Jzh7ZNNMg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_4Bb2J7UDEee44Jzh7ZNNMg" type="Entry" element="_4Bb2JrUDEee44Jzh7ZNNMg">
          <children xmi:id="_4BcdMLUDEee44Jzh7ZNNMg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_4BdEQLUDEee44Jzh7ZNNMg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_4BdEQbUDEee44Jzh7ZNNMg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_4BdEQrUDEee44Jzh7ZNNMg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4BcdMbUDEee44Jzh7ZNNMg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4BcdMrUDEee44Jzh7ZNNMg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4Bb2KLUDEee44Jzh7ZNNMg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_4Bb2KbUDEee44Jzh7ZNNMg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4BdEQ7UDEee44Jzh7ZNNMg" x="70" y="20"/>
        </children>
        <children xmi:id="_4BeSYLUDEee44Jzh7ZNNMg" type="State" element="_4BdERLUDEee44Jzh7ZNNMg">
          <children xsi:type="notation:DecorationNode" xmi:id="_4BfggLUDEee44Jzh7ZNNMg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_4BfggbUDEee44Jzh7ZNNMg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_4BfggrUDEee44Jzh7ZNNMg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4Bfgg7UDEee44Jzh7ZNNMg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_4BfghLUDEee44Jzh7ZNNMg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4BfghbUDEee44Jzh7ZNNMg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_4BgHkLUDEee44Jzh7ZNNMg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_4BeSYbUDEee44Jzh7ZNNMg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_4BeSYrUDEee44Jzh7ZNNMg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_4BgHkbUDEee44Jzh7ZNNMg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4BguoLUDEee44Jzh7ZNNMg" x="40" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4Bb2JLUDEee44Jzh7ZNNMg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_4BaoArUDEee44Jzh7ZNNMg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4Bb2JbUDEee44Jzh7ZNNMg" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_4BjK4LUDEee44Jzh7ZNNMg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_4Bjx8LUDEee44Jzh7ZNNMg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4Bjx8bUDEee44Jzh7ZNNMg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4Bjx8rUDEee44Jzh7ZNNMg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_4Bjx87UDEee44Jzh7ZNNMg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4Bjx9LUDEee44Jzh7ZNNMg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_4BlAELUDEee44Jzh7ZNNMg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_4BaA87UDEee44Jzh7ZNNMg"/>
    <edges xmi:id="_4Bh8wLUDEee44Jzh7ZNNMg" type="Transition" element="_4BguobUDEee44Jzh7ZNNMg" source="_4Bb2J7UDEee44Jzh7ZNNMg" target="_4BeSYLUDEee44Jzh7ZNNMg">
      <children xsi:type="notation:DecorationNode" xmi:id="_4Bij0bUDEee44Jzh7ZNNMg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4Bij0rUDEee44Jzh7ZNNMg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4Bij07UDEee44Jzh7ZNNMg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4Bh8wbUDEee44Jzh7ZNNMg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4Bij0LUDEee44Jzh7ZNNMg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4Bh8wrUDEee44Jzh7ZNNMg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
