<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_gf9J0LT4EeexEoqOyevFDQ" specification="internal:&#xA;var creationTime: uint = block.timestamp&#xA;&#xA;interface:&#xA;in event bid: void&#xA;in event reveal : void&#xA;in event g: void&#xA;in event h: void&#xA;in event i : void&#xA;" name="StateMachine" domainID="com.yakindu.domain.solidity">
    <regions xmi:id="_ggFssrT4EeexEoqOyevFDQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_ggNogbT4EeexEoqOyevFDQ">
        <outgoingTransitions xmi:id="_ggTIEbT4EeexEoqOyevFDQ" specification="" target="_ggPdsLT4EeexEoqOyevFDQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_ggPdsLT4EeexEoqOyevFDQ" specification="" name="AcceptingBlindedBids" incomingTransitions="_ggTIEbT4EeexEoqOyevFDQ">
        <outgoingTransitions xmi:id="_YSinALT5Eeer5r9xlDFCEw" specification="always [block.timestamp >= creationTime +10 ]" target="_VpaooLT5Eeer5r9xlDFCEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_VpaooLT5Eeer5r9xlDFCEw" name="RevealBids" incomingTransitions="_YSinALT5Eeer5r9xlDFCEw">
        <outgoingTransitions xmi:id="_a3jhcLT5Eeer5r9xlDFCEw" specification="always [block.timestamp >= creationTime + 12]" target="_YqFkULT5Eeer5r9xlDFCEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YqFkULT5Eeer5r9xlDFCEw" name="AnotherState" incomingTransitions="_a3jhcLT5Eeer5r9xlDFCEw">
        <outgoingTransitions xmi:id="_dpSCMLT5Eeer5r9xlDFCEw" specification="always" target="_bjc-ILT5Eeer5r9xlDFCEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_bjc-ILT5Eeer5r9xlDFCEw" name="AreWeDoneYet" incomingTransitions="_dpSCMLT5Eeer5r9xlDFCEw">
        <outgoingTransitions xmi:id="_f7bD8LT5Eeer5r9xlDFCEw" specification="always" target="_enORILT5Eeer5r9xlDFCEw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_enORILT5Eeer5r9xlDFCEw" name="Finished" incomingTransitions="_f7bD8LT5Eeer5r9xlDFCEw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_ggFssLT4EeexEoqOyevFDQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_gf9J0LT4EeexEoqOyevFDQ" measurementUnit="Pixel">
    <children xmi:id="_ggJXELT4EeexEoqOyevFDQ" type="Region" element="_ggFssrT4EeexEoqOyevFDQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ggMaYLT4EeexEoqOyevFDQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ggMaYbT4EeexEoqOyevFDQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ggMaYrT4EeexEoqOyevFDQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ggNBcLT4EeexEoqOyevFDQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_ggOPkLT4EeexEoqOyevFDQ" type="Entry" element="_ggNogbT4EeexEoqOyevFDQ">
          <children xmi:id="_ggO2oLT4EeexEoqOyevFDQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_ggO2o7T4EeexEoqOyevFDQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_ggO2pLT4EeexEoqOyevFDQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_ggO2pbT4EeexEoqOyevFDQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ggO2obT4EeexEoqOyevFDQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ggO2orT4EeexEoqOyevFDQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ggOPkbT4EeexEoqOyevFDQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_ggOPkrT4EeexEoqOyevFDQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ggO2prT4EeexEoqOyevFDQ" x="70" y="20"/>
        </children>
        <children xmi:id="_ggQr0bT4EeexEoqOyevFDQ" type="State" element="_ggPdsLT4EeexEoqOyevFDQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_ggRS4LT4EeexEoqOyevFDQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_ggRS4bT4EeexEoqOyevFDQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_ggRS4rT4EeexEoqOyevFDQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ggR58LT4EeexEoqOyevFDQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_ggR58bT4EeexEoqOyevFDQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ggR58rT4EeexEoqOyevFDQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ggShALT4EeexEoqOyevFDQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_ggQr0rT4EeexEoqOyevFDQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_ggQr07T4EeexEoqOyevFDQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_ggShAbT4EeexEoqOyevFDQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ggTIELT4EeexEoqOyevFDQ" x="29" y="97"/>
        </children>
        <children xmi:id="_VpgIMLT5Eeer5r9xlDFCEw" type="State" element="_VpaooLT5Eeer5r9xlDFCEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_VpjLgLT5Eeer5r9xlDFCEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_VpjLgbT5Eeer5r9xlDFCEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_VpjLgrT5Eeer5r9xlDFCEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VpjykLT5Eeer5r9xlDFCEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_VpkZoLT5Eeer5r9xlDFCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VpkZobT5Eeer5r9xlDFCEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_VplAsLT5Eeer5r9xlDFCEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_VpgIMbT5Eeer5r9xlDFCEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_VpgIMrT5Eeer5r9xlDFCEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_VplnwLT5Eeer5r9xlDFCEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VpgIM7T5Eeer5r9xlDFCEw" x="294" y="87"/>
        </children>
        <children xmi:id="_YqJ1wLT5Eeer5r9xlDFCEw" type="State" element="_YqFkULT5Eeer5r9xlDFCEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_YqLq8LT5Eeer5r9xlDFCEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YqLq8bT5Eeer5r9xlDFCEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YqLq8rT5Eeer5r9xlDFCEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YqMSALT5Eeer5r9xlDFCEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YqM5ELT5Eeer5r9xlDFCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YqM5EbT5Eeer5r9xlDFCEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YqOHMLT5Eeer5r9xlDFCEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YqJ1wbT5Eeer5r9xlDFCEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YqJ1wrT5Eeer5r9xlDFCEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YqOHMbT5Eeer5r9xlDFCEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YqJ1w7T5Eeer5r9xlDFCEw" x="119" y="212"/>
        </children>
        <children xmi:id="_bjfaYLT5Eeer5r9xlDFCEw" type="State" element="_bjc-ILT5Eeer5r9xlDFCEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_bjgogLT5Eeer5r9xlDFCEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_bjgogbT5Eeer5r9xlDFCEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_bjhPkLT5Eeer5r9xlDFCEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bjhPkbT5Eeer5r9xlDFCEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_bjhPkrT5Eeer5r9xlDFCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bjh2oLT5Eeer5r9xlDFCEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_bjidsLT5Eeer5r9xlDFCEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_bjfaYbT5Eeer5r9xlDFCEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_bjfaYrT5Eeer5r9xlDFCEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bjidsbT5Eeer5r9xlDFCEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bjfaY7T5Eeer5r9xlDFCEw" x="300" y="249"/>
        </children>
        <children xmi:id="_enRUcLT5Eeer5r9xlDFCEw" type="State" element="_enORILT5Eeer5r9xlDFCEw">
          <children xsi:type="notation:DecorationNode" xmi:id="_enR7gLT5Eeer5r9xlDFCEw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_enR7gbT5Eeer5r9xlDFCEw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_enSikLT5Eeer5r9xlDFCEw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_enSikbT5Eeer5r9xlDFCEw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_enTJoLT5Eeer5r9xlDFCEw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enTJobT5Eeer5r9xlDFCEw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_enU-0LT5Eeer5r9xlDFCEw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_enRUcbT5Eeer5r9xlDFCEw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_enRUcrT5Eeer5r9xlDFCEw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_enVl4LT5Eeer5r9xlDFCEw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_enRUc7T5Eeer5r9xlDFCEw" x="172" y="303"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ggNBcbT4EeexEoqOyevFDQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_ggJXEbT4EeexEoqOyevFDQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ggNogLT4EeexEoqOyevFDQ" x="220" y="10" width="439" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_ggXZgLT4EeexEoqOyevFDQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_ggXZgrT4EeexEoqOyevFDQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ggXZg7T4EeexEoqOyevFDQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ggXZhLT4EeexEoqOyevFDQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_ggYAkLT4EeexEoqOyevFDQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ggYAkbT4EeexEoqOyevFDQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ggYAkrT4EeexEoqOyevFDQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_ggFssbT4EeexEoqOyevFDQ"/>
    <edges xmi:id="_ggVkULT4EeexEoqOyevFDQ" type="Transition" element="_ggTIEbT4EeexEoqOyevFDQ" source="_ggOPkLT4EeexEoqOyevFDQ" target="_ggQr0bT4EeexEoqOyevFDQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ggWycLT4EeexEoqOyevFDQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ggWycbT4EeexEoqOyevFDQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ggWycrT4EeexEoqOyevFDQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ggVkUbT4EeexEoqOyevFDQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ggWLYLT4EeexEoqOyevFDQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ggVkUrT4EeexEoqOyevFDQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_YSpUsLT5Eeer5r9xlDFCEw" type="Transition" element="_YSinALT5Eeer5r9xlDFCEw" source="_ggQr0bT4EeexEoqOyevFDQ" target="_VpgIMLT5Eeer5r9xlDFCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_YSzFsLT5Eeer5r9xlDFCEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YSzFsbT5Eeer5r9xlDFCEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YSzswLT5Eeer5r9xlDFCEw" x="13" y="-49"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YSpUsbT5Eeer5r9xlDFCEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YSx3kLT5Eeer5r9xlDFCEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YSpUsrT5Eeer5r9xlDFCEw" points="[14, 3, -109, -23]$[127, 42, 4, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YTAhELT5Eeer5r9xlDFCEw" id="(0.9102564102564102,0.49056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YTBIILT5Eeer5r9xlDFCEw" id="(0.7954545454545454,0.6792452830188679)"/>
    </edges>
    <edges xmi:id="_a3l9sLT5Eeer5r9xlDFCEw" type="Transition" element="_a3jhcLT5Eeer5r9xlDFCEw" source="_VpgIMLT5Eeer5r9xlDFCEw" target="_YqJ1wLT5Eeer5r9xlDFCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_a3mkwbT5Eeer5r9xlDFCEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_a3mkwrT5Eeer5r9xlDFCEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_a3nL0LT5Eeer5r9xlDFCEw" x="117" y="16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_a3l9sbT5Eeer5r9xlDFCEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_a3mkwLT5Eeer5r9xlDFCEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_a3l9srT5Eeer5r9xlDFCEw" points="[-22, 24, 86, -91]$[-60, 107, 48, -8]"/>
    </edges>
    <edges xmi:id="_dpWToLT5Eeer5r9xlDFCEw" type="Transition" element="_dpSCMLT5Eeer5r9xlDFCEw" source="_YqJ1wLT5Eeer5r9xlDFCEw" target="_bjfaYLT5Eeer5r9xlDFCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_dpW6sbT5Eeer5r9xlDFCEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dpW6srT5Eeer5r9xlDFCEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dpXhwLT5Eeer5r9xlDFCEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dpWTobT5Eeer5r9xlDFCEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dpW6sLT5Eeer5r9xlDFCEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dpWTorT5Eeer5r9xlDFCEw" points="[23, 9, -123, -43]$[148, 59, 2, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dpfdkLT5Eeer5r9xlDFCEw" id="(0.7623762376237624,0.5471698113207547)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dpfdkbT5Eeer5r9xlDFCEw" id="(0.3418803418803419,0.8679245283018868)"/>
    </edges>
    <edges xmi:id="_f7eHQLT5Eeer5r9xlDFCEw" type="Transition" element="_f7bD8LT5Eeer5r9xlDFCEw" source="_bjfaYLT5Eeer5r9xlDFCEw" target="_enRUcLT5Eeer5r9xlDFCEw">
      <children xsi:type="notation:DecorationNode" xmi:id="_f7fVYbT5Eeer5r9xlDFCEw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_f7f8cLT5Eeer5r9xlDFCEw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_f7f8cbT5Eeer5r9xlDFCEw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_f7eHQbT5Eeer5r9xlDFCEw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_f7fVYLT5Eeer5r9xlDFCEw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_f7eHQrT5Eeer5r9xlDFCEw" points="[-11, 5, 107, -30]$[-111, 59, 7, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_f7nRMLT5Eeer5r9xlDFCEw" id="(0.20512820512820512,0.9056603773584906)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
