<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
 <extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="com.yakindu.solidity.compiler.SolidityCompilerExecutableExtensionFactory:com.yakindu.solidity.compiler.builder.SolidityBuilderParticipant"
			fileExtensions="sol"/>
	</extension>
		<extension
			point="org.eclipse.core.runtime.preferences">
		<initializer
				class="com.yakindu.solidity.compiler.preferences.CompilerPreferenceInitializer">
		</initializer>
	</extension>
</plugin>
