<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.yakindu.sct.domain">
      <Domain
            description="Statechart Tools for Solidity."
            domainID="com.yakindu.domain.solidity"
            image="icons/solidity.png"
            name="Solidity Domain">
      </Domain>
   </extension>
      <extension
         point="org.yakindu.sct.domain.modules">
      <Module
            domainID="com.yakindu.domain.solidity"
            feature="org.yakindu.sct.resource"
            moduleProvider="com.yakindu.sct.domain.solidity.modules.SolidityDomainResourceModuleProvider"></Module>
   </extension>
</plugin>
