/vscode-builtin-css/
/vscode-builtin-html/
/vscode-builtin-javascript/
/vscode-builtin-json/
/vscode-builtin-markdown/
/vscode-builtin-npm/
/vscode-builtin-scss/
/vscode-builtin-typescript/
/vscode-builtin-typescript-language-features/
/vscode-extension-self-contained-0.8.0-SNAPSHOT.vsix
