<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_fdH3gLGmEei84ICcvzMH3g" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="default" domainID="com.yakindu.domain.solidity">
    <regions xmi:id="_fdIek7GmEei84ICcvzMH3g" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_fdN-IbGmEei84ICcvzMH3g">
        <outgoingTransitions xmi:id="_fdPzU7GmEei84ICcvzMH3g" target="_fdOlN7GmEei84ICcvzMH3g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fdOlN7GmEei84ICcvzMH3g" name="StateA" incomingTransitions="_fdPzU7GmEei84ICcvzMH3g"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_fdIekLGmEei84ICcvzMH3g" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_fdH3gLGmEei84ICcvzMH3g" measurementUnit="Pixel">
    <children xmi:id="_fdK60LGmEei84ICcvzMH3g" type="Region" element="_fdIek7GmEei84ICcvzMH3g">
      <children xsi:type="notation:DecorationNode" xmi:id="_fdNXELGmEei84ICcvzMH3g" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fdNXEbGmEei84ICcvzMH3g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fdNXErGmEei84ICcvzMH3g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_fdNXE7GmEei84ICcvzMH3g" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_fdN-IrGmEei84ICcvzMH3g" type="Entry" element="_fdN-IbGmEei84ICcvzMH3g">
          <children xmi:id="_fdOlMLGmEei84ICcvzMH3g" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_fdOlM7GmEei84ICcvzMH3g" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_fdOlNLGmEei84ICcvzMH3g"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_fdOlNbGmEei84ICcvzMH3g"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fdOlMbGmEei84ICcvzMH3g" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fdOlMrGmEei84ICcvzMH3g"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fdN-I7GmEei84ICcvzMH3g" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_fdN-JLGmEei84ICcvzMH3g" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fdOlNrGmEei84ICcvzMH3g" x="70" y="20"/>
        </children>
        <children xmi:id="_fdPMQLGmEei84ICcvzMH3g" type="State" element="_fdOlN7GmEei84ICcvzMH3g">
          <children xsi:type="notation:DecorationNode" xmi:id="_fdPMRLGmEei84ICcvzMH3g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fdPMRbGmEei84ICcvzMH3g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fdPMRrGmEei84ICcvzMH3g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fdPMR7GmEei84ICcvzMH3g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fdPMSLGmEei84ICcvzMH3g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fdPMSbGmEei84ICcvzMH3g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fdPzULGmEei84ICcvzMH3g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fdPMQbGmEei84ICcvzMH3g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fdPMQrGmEei84ICcvzMH3g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fdPzUbGmEei84ICcvzMH3g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fdPzUrGmEei84ICcvzMH3g" x="40" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fdNXFLGmEei84ICcvzMH3g"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_fdK60bGmEei84ICcvzMH3g" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fdN-ILGmEei84ICcvzMH3g" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_fdRBdLGmEei84ICcvzMH3g" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_fdRogLGmEei84ICcvzMH3g" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fdRogbGmEei84ICcvzMH3g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fdRogrGmEei84ICcvzMH3g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_fdRog7GmEei84ICcvzMH3g" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fdRohLGmEei84ICcvzMH3g"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fdRohbGmEei84ICcvzMH3g" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fdIekbGmEei84ICcvzMH3g" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_fdIekrGmEei84ICcvzMH3g"/>
    <edges xmi:id="_fdQaYLGmEei84ICcvzMH3g" type="Transition" element="_fdPzU7GmEei84ICcvzMH3g" source="_fdN-IrGmEei84ICcvzMH3g" target="_fdPMQLGmEei84ICcvzMH3g">
      <children xsi:type="notation:DecorationNode" xmi:id="_fdRBcbGmEei84ICcvzMH3g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fdRBcrGmEei84ICcvzMH3g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fdRBc7GmEei84ICcvzMH3g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fdQaYbGmEei84ICcvzMH3g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fdRBcLGmEei84ICcvzMH3g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fdQaYrGmEei84ICcvzMH3g" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
