/.SolidityGenerator.java._trace
/.SolidityGenerator.xtendbin
/SolidityGenerator.java
/.Navigation.java._trace
/.Naming.java._trace
/.CombinedState.java._trace
/.ExpressionCode.java._trace
/.Declarations.java._trace
