<h2>Available Plugins</h2>
<div *ngFor="let profile of profiles | async">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ profile.displayName }}</h5>
      <div *ngIf="!(isRegistered(profile.name) | async)">
        <div *ngIf="!(isActive(profile.name) | async)">
          <button (click)="activatePlugin(profile)">Register & Activate</button>
        </div>
        <div *ngIf="isActive(profile.name) | async">
          <button>Deactivate</button>
        </div>
      </div>
      <div
        *ngIf="
          (isRegistered(profile.name) | async) &&
          !(isActive(profile.name) | async)
        "
      >
        <button>Activate</button>
      </div>
    </div>
  </div>
</div>
