<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.yakindu.com/solidity/Solidity"
			class = "com.yakindu.solidity.solidity.SolidityPackage"
			genModel = "model/generated/Solidity.genmodel" />
	</extension>
</plugin>
