<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="Latest (SCT)" sequenceNumber="16">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="0.0.0"/>
		<repository location="http://download.itemis.com/updates/releases/2.1.1/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.yakindu.base.feature.group" version="3.5.5.201906181009"/>
		<unit id="org.yakindu.sct.feature.group" version="3.5.5.201906181009"/>
		<repository location="http://updates.yakindu.com/statecharts/releases/3.5.5/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.18.0.v20190528-1257"/>
		<unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="1.0.500.v20190426-1023"/>
		<unit id="org.eclipse.pde.source.feature.group" version="3.14.0.v20190605-1800"/>
		<unit id="org.eclipse.platform.sdk" version="4.12.0.I20190605-1800"/>
		<repository location="http://download.eclipse.org/eclipse/updates/4.12"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.18.0.v20190528-0845"/>
		<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.7.2.v20190528-0935"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="2.18.0.v20190528-0716"/>
		<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.4.0"/>
		<repository location="https://download.eclipse.org/releases/2019-06/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="com.google.gson" version="2.2.4.v201311231704"/>
		<unit id="com.google.inject" version="3.0.0.v201605172100"/>
		<unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
		<unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository/"/>
	</location>
</locations>
</target>