<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="YAKINDU Solidity Tools" sequenceNumber="1511097190">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.yakindu.base.feature.group" version="3.1.1.201710271438"/>
      <unit id="org.yakindu.sct.feature.group" version="3.1.1.201710271438"/>
      <repository location="http://updates.yakindu.com/statecharts/releases"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.13.0.v20171020-0920"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.13.0"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe.core.feature.feature.group" version="1.3.20.v201605261103"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.9.0.v201605261103"/>
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.9.0.v201605261103"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.0.v201605261103"/>
      <repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.0"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
      <repository location="http://download.itemis.com/updates/releases/2.1.1"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="4.7.1.M20171009-0410"/>
      <unit id="org.eclipse.pde.source.feature.group" version="3.13.1.v20171009-0537"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.13.0.v20170609-0928"/>
      <unit id="org.eclipse.jdt.core" version="3.13.50.v20171007-0855"/>
      <repository location="http://download.eclipse.org/releases/oxygen"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.gson" version="2.2.4.v201311231704"/>
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.google.inject" version="3.0.0.v201312141243"/>
      <unit id="com.google.inject.multibindings" version="3.0.0.v201402270930"/>
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140525021250/repository"/>
    </location>
  </locations>
</target>
